<solver>
    <solutionClass>com.github.jbarus.solver.CommitteeSolution</solutionClass>
    <entityClass>com.github.jbarus.solver.CommitteeEmployeeAssignment</entityClass>
    <scoreDirectorFactory>
        <constraintProviderClass>com.github.jbarus.solver.ComitteeSolutionConstraintProvider</constraintProviderClass>
    </scoreDirectorFactory>
    <termination>
        <secondsSpentLimit>10</secondsSpentLimit>
    </termination>
</solver>