<solver>
    <solutionClass>com.github.jbarus.solver.ComitteeSolution</solutionClass>
    <entityClass>com.github.jbarus.solver.Committee</entityClass>
    <scoreDirectorFactory>
        <constraintProviderClass>com.github.jbarus.solver.ComitteeSolutionConstraintProvider</constraintProviderClass>
    </scoreDirectorFactory>
    <termination>
        <secondsSpentLimit>20</secondsSpentLimit>
    </termination>
</solver>